[Desktop Entry]
Type=Application
Name=Yandex.Music Desktop
GenericName=Music Player
Icon=yandex_music
Exec=/opt/yandex_music_electron/yandex_music_electron
Terminal=false
StartupWMClass=yandex music
Categories=Audio;Music;Player;AudioVideo;